/* ************************************************* */
/* GENERAL */
/* ************************************************* */
:root {
  --header-height: 8rem;
  --gap-at-the-sides: 4.8rem;
  /* --header-background: hsl(232, 19%, 15%); */
  --body-background: hsl(230, 17%, 14%);
  --header-background: hsl(228, 28%, 20%);
  --text-grayish-blue: hsl(228, 34%, 66%);
  --text-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--body-background);
  color: var(--text-white);
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  padding: 0 var(--gap-at-the-sides);
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
}

.martop-header-height {
  margin-top: var(--header-height);
  padding-top: 6.4rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.medium-gap {
  gap: 6.4rem;
}

/* ************************************************* */
/* HEADER */
/* ************************************************* */

.section-header {
  width: 100%;
  padding: 0 var(--gap-at-the-sides);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--header-background);
}

/* HZ Logo */
.logo {
  display: inline-block;
  width: 15rem;
}

.logo__image {
  width: 100%;
}

/* Navigation */

.nav__list {
  gap: 2.4rem;
}

/* .nav__item {
  height: 100%;
} */

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  height: var(--header-height);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-size: 1.4rem;
  position: relative;
  color: var(--text-white);
  display: flex;
  align-items: center;
}

.nav__link::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: all 200ms ease-in;
}

.nav__link:hover::before {
  background-color: var(--text-white);
  transform: scaleX(1.2);
}

.nav__link.current-page::before {
  background-color: var(--text-white);
  transform: scaleX(1.2);
}

/* ************************************************* */
/* ASIDE */
/* ************************************************* */

.section-aside {
  flex: 0 0 25rem;
  order: -1;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__link:link,
.sidebar__link:visited {
  display: block;
  position: relative;
  z-index: 10;
  padding: 1.2rem;
  padding-left: 2.4rem;
  color: var(--text-white);
  text-decoration: none;
  overflow: hidden;
}

.sidebar__link:hover,
.sidebar__link:active {
  color: var(--body-background);
}

.sidebar__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--text-white);
  transform: skewX(-25deg) scale(1.2) translateX(-100%);
  transition: all 0.35s ease-in;
}

.sidebar__link:hover::before {
  transform: skewX(-25deg) scale(1.2) translateX(0);
}

/* ************************************************* */
/* MAIN */
/* ************************************************* */

.section-main {
  --section-gap: 3.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.image-container {
  width: 15rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  outline: 2px solid var(--text-white);
  margin-bottom: calc(4.8rem - var(--section-gap));
  align-self: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.information {
  padding-left: 3.6rem;
}

.information__heading {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
  margin-bottom: 1.2rem;
}

.information__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.information__item {
  display: inline-block;
  padding-left: 1.6rem;
  position: relative;
}

.information__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left: 6px solid var(--text-grayish-blue);
}
