/* ************************************************* */
/* GENERAL */
/* ************************************************* */
:root {
  --header-height: 8rem;
  --gap-at-the-sides: 4.8rem;
  --border-radius: 4px;
  --orange: hsl(37, 97%, 70%);
  --body-background: hsl(230, 17%, 14%);
  --header-background: hsl(228, 28%, 20%);
  --text-grayish-blue: hsl(229, 20%, 42%);
  --text-white: hsl(0, 0%, 100%);
  --box-shadow-alpha: hsla(0, 100%, 100%, 0.125);
  --dot-inactive: hsla(0, 100%, 100%, 0.3);
  --dot-active: hsla(0, 100%, 100%, 0.8);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-white);
  border-radius: 100px;
}
/* END: Scrollbar */

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  /* overflow-x: hidden; */
  background-color: var(--body-background);
  color: var(--text-white);
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  padding: 0 var(--gap-at-the-sides);
}

ul {
  list-style: none;
}

/* HELPER CLASSES */

.container {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
}

.martop-header-height {
  margin-top: var(--header-height);
  padding-top: 6.4rem;
}

.martop-auto {
  margin-top: auto;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.medium-gap {
  gap: 6.4rem;
}

.cta-btn:link,
.cta-btn:visited {
  display: block;
  padding: 1.6rem 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--header-background);
  background-color: var(--orange);
  border-top: 1px solid var(--orange);
  transition: all 0.1s ease-in-out;
}

.cta-btn:hover,
.cta-btn:active {
  background-color: transparent;
  border-top: 1px solid var(--header-background);
}

/* ************************************************* */
/* HEADER */
/* ************************************************* */

.section-header {
  width: 100%;
  padding: 0 var(--gap-at-the-sides);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--header-background);
}

/* HZ Logo */
.logo {
  display: inline-block;
  width: 15rem;
}

.logo__image {
  width: 100%;
}

/* Navigation */

.nav__list {
  gap: 2.4rem;
}

/* .nav__item {
  height: 100%;
} */

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  height: var(--header-height);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-size: 1.4rem;
  position: relative;
  color: var(--text-white);
  display: flex;
  align-items: center;
}

.nav__link::before {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: all 200ms ease-in;
}

.nav__link:hover::before {
  background-color: var(--text-white);
  transform: scaleX(1.2);
}

.nav__link.current-page::before {
  background-color: var(--text-white);
  transform: scaleX(1.2);
}

/* ************************************************* */
/* ASIDE */
/* ************************************************* */

.section-aside {
  flex: 0 0 25rem;
  order: -1;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__link:link,
.sidebar__link:visited {
  display: block;
  position: relative;
  z-index: 10;
  padding: 1.2rem;
  padding-left: 2.4rem;
  color: var(--text-white);
  text-decoration: none;
  overflow: hidden;
}

.sidebar__link:hover,
.sidebar__link:active {
  color: var(--body-background);
}

.sidebar__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--text-white);
  transform: skewX(-25deg) scale(1.2) translateX(-100%);
  transition: all 0.35s ease-in;
}

.sidebar__link:hover::before {
  transform: skewX(-25deg) scale(1.2) translateX(0);
}

/* ************************************************* */
/* MAIN */
/* ************************************************* */

.section-main {
  --section-gap: 3.2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
  position: relative;
  /* overflow-x: hidden; */
}

/* Profile */
.image-container {
  width: 15rem;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  outline: 2px solid var(--text-white);
  margin-bottom: calc(var(--section-gap) + 1.6rem);
  align-self: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.information {
  padding-left: 3.6rem;
}

.information__heading {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
  margin-bottom: 1.2rem;
}

.information__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.information__item {
  display: inline-block;
  padding-left: 1.6rem;
  position: relative;
}

.information__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left: 6px solid var(--text-grayish-blue);
}
/* END: Profile */

/* FAQ */
.faq-container {
  background-color: var(--text-white);
  border-radius: var(--border-radius);
  padding: 3.2rem 4.8rem;
  color: var(--body-background);
  box-shadow: 0 2px 4px var(--box-shadow-alpha);
}

.faq-heading {
  font-size: 4.2rem;
  margin-bottom: 1.2rem;
}

.faq {
  padding: 2.4rem 0;
  border-bottom: 1px solid var(--text-grayish-blue);
}

.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  transition: all 0.15s;
}

.faq__question:hover {
  color: var(--orange);
}

.faq__question:hover .faq__arrow path {
  stroke: var(--orange);
}

.faq__content {
  opacity: 0;
  visibility: hidden;
  display: none;
  line-height: 1.3;
  letter-spacing: 0.5px;
  font-size: 1.4rem;
  margin-top: 1.2rem;
}

.faq__toggle {
  display: none;
}

.faq__toggle:checked ~ .faq__content {
  display: block;
  animation: open 0.2s ease-out forwards;
}

.faq__arrow {
  transform: rotate(0);
  transition: all 0.1s ease-out;
}

.faq__toggle:checked + .faq__question .faq__arrow {
  transform: rotate(180deg);
}

@keyframes open {
  1% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}
/* END: FAQ */

/* Blog */

.blog-heading {
  align-self: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 3.2rem;
  font-weight: 700;
}

.post-outer-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.post-group {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 6.4rem;
  overflow-x: auto;
  position: relative;
}

.post {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 27.5rem;
  height: 43rem;
  background-color: var(--text-white);
  color: var(--body-background);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 4px 6px var(--box-shadow-alpha);
  /* margin-bottom: 4rem; */
}

.post__image-container {
  height: 15rem;
  overflow: hidden;
}

.post__image {
  width: 100%;
  object-fit: cover;
}

.post__content {
  padding: 2.4rem;
}

.post__heading {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.post__text {
  line-height: 1.5;
  font-size: 1.4rem;
  color: var(--text-grayish-blue);
}

/* Arrow */

.arrow:link,
.arrow:visited {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid transparent;
  background-color: hsla(0, 100%, 100%, 0.8);
  color: var(--body-background);
  text-decoration: none;
  font-size: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.arrow:hover,
.arrow:active {
  border: 2px solid var(--text-white);
  background-color: transparent;
  color: var(--text-white);
}

.arrow--left {
  left: 6%;
}

.arrow--right {
  right: 6%;
}

/* Dot */

.dot-container {
  position: absolute;
  left: 50%;
  bottom: -4.8rem;
  transform: translateX(-50%);
  display: flex;
  gap: 1.4rem;
}

.dot:link,
.dot:visited {
  display: block;
  text-decoration: none;
  width: 1.2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--dot-inactive);
  transition: all 0.2s ease-out;
}

.dot:hover,
.dot:active {
  background-color: var(--dot-active);
}

/* Make the right dot highlight */

.post-outer-container:has(.post-group:target) .dot:nth-child(1) {
  background-color: var(--dot-inactive);
}

.dot:nth-child(1) {
  background-color: var(--dot-active);
}

.post-group:nth-child(1):target ~ .dot-container > .dot:nth-child(1) {
  background-color: var(--dot-active);
}

.post-group:nth-child(2):target ~ .dot-container > .dot:nth-child(2) {
  background-color: var(--dot-active);
}

.post-group:nth-child(3):target ~ .dot-container > .dot:nth-child(3) {
  background-color: var(--dot-active);
}

/* END: Blog */
